
 <div class="title">SpaceX Launch Programs</div>
<div class="main-container">
  
    <div class="filter-container">
        
        <div class="filters">
            <div class="fil-head">Filters</div>
            <div class="first-filter">
                <div class="filter-name">Launch Year</div>
                <div class="filter-cont">
                    <div class="filter-value" *ngFor="let year of yearFilter" (click)="filterByYear(year)" [ngClass]="isYearFilter == year ? 'selected':''">{{year}}</div>
                </div>
            </div>
            <div class="first-filter">
                <div class="filter-name">Successful Launch</div>
                <div class="filter-cont">
                    <div class="filter-value" (click)="filterByLaunching(true)" [ngClass]="isLaunchFilter == 'true' ? 'selected':''">True</div>
                    <div class="filter-value" (click)="filterByLaunching(false)" [ngClass]="isLaunchFilter == 'false' ? 'selected':''">False</div>
                </div>
            </div>
            <div class="first-filter">
                <div class="filter-name">Successful Landing</div>
                <div class="filter-cont">
                    <div class="filter-value" (click)="filterByLanding(true)" [ngClass]="isLandFilter == 'true' ? 'selected':''">True</div>
                    <div class="filter-value" (click)="filterByLanding(false)" [ngClass]="isLandFilter == 'false' ? 'selected':''">False</div>
                </div>
            </div>
        </div>
    </div>

    <div class="data-container" *ngIf ="!loading">
        <ng-container *ngFor="let data of spaceArray">
            <div class="single-data-cont">
                <div class="img-sec">
                    <img [src]="data.links?.mission_patch_small">
                </div>
                <div class="ship-name">{{data.mission_name}}</div>
                <div class="ids" [ngClass]="!data?.mission_id.length ? 'flexId': ''">
                    <div>Mission ids: </div>
                    <ul *ngIf="data?.mission_id.length">
                        <li *ngFor="let id of data.mission_id">{{id}}</li>
                    </ul>
                    <span *ngIf="!data?.mission_id.length"> N/A</span>
                </div>
                <div class="sub-sec">
                    <span class="head">Launch Year: </span>
                    <span class="value">{{data.launch_year}}</span>
                </div>
                <div  class="sub-sec">
                    <span class="head">Successful Launch: </span>
                    <span class="value">{{data.launch_success}}</span>
                </div>
                <div  class="sub-sec">
                    <span class="head">Successful Landing: </span>
                    <span class="value">{{data?.rocket?.first_stage?.cores[0]?.land_success}}</span>
                    <span *ngIf="data?.rocket?.first_stage?.cores[0]?.land_success == null" class="value">  N/A</span>
                </div>
            </div>
        </ng-container>
        <div class="noData" *ngIf="!spaceArray.length">
            Nothing to display !
        </div>
    </div>

    <div *ngIf="loading" id='preloader'><div class='preloader'></div></div>
    
</div>
<div *ngIf="!loading" class="dev-name">Developed by: Deepak D Nair</div>