.title {
    font-size: 25px;
    font-weight: bold;
    background-color: #f2f2f7;
    padding: 15px;
}

.dev-name {
    font-weight: bold;
    background-color: #f2f2f7;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;;
}

.main-container {
    background-color: #f2f2f7;
    display: grid;
   
    .filter-container {
        width: 100%;
       
        .filters {
            background-color: white;
            margin: 10px;
            .fil-head {
                font-weight: bold;
                 padding: 10px
            }
            .first-filter {
               // width: 90%;
                display: grid;
                .filter-name {
                  text-decoration: underline;
                  text-align: center;
                  opacity: 0.7;
                 
                }
                .filter-cont {
                   // display: table;
                   .selected {
                    background-color: green !important;
                    border: 1px solid green !important;
                   }
                    .filter-value {
                     width: 35%;
                     float: left;
                     border: 1px solid greenyellow;
                     border-radius: 5px;
                     padding: 5px;
                     font-weight: 400;
                     margin: 10px;
                     text-align: center;
                     background-color: greenyellow;

                     &:hover {
                         cursor: pointer;
                         background-color: green;
                     }
                    }
                }
                
            }
        }
    }

    .data-container {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .single-data-cont {
            border: 1px solid white;
            border-radius: 15px;
            padding: 10px;
            width: 90%;
            float: left;
            background-color: white;
            height: 300px;
            margin: 10px;
            .img-sec {
             margin-bottom: 10px;
             background-color: #f2f2f7;
             text-align: center;
             img {
                 height: 100px;
             }
            }
            .ship-name {
                margin-bottom: 10px;
                color: #4e4ef2;
                font-weight: 500;
            }
            .ids {
                margin-bottom: 10px;
                div {
                    font-weight: bold;
                }
                ul {
                    li {
                        color: #b3b3ff;
                    }
                }
                span {
                    color: #b3b3ff;
                }
            }
            .flexId {
               display: flex;
              div {
                padding-right: 10px;
              }
            }
            .sub-sec {  
                margin-bottom: 10px;
                .head {
                    font-weight: bold;
                }
                .value {
                  color: #b3b3ff;
                }
            }
        }
        .noData {
            font-size: 18px;
            font-weight: 500;
            padding-top: 40px;
        }
    }
    #preloader { display: none;}
    
}

@media(max-width: 700px) {
    .main-container {

       
    }
}

@media(min-width: 700px) and (max-width: 1024px) {
    .main-container {
        display: flex;
        .filter-container {
            width: 35%;
        }
    
        .data-container {
            width: 65%;
            .single-data-cont {
               
                width: 40%;
                
            }
        }
    }
}

@media (min-width: 1024px) {
    .main-container {
        display: flex;
        .filter-container {
            width: 18%;
        }
    
        .data-container {
            width: 82%;
            .single-data-cont {
               
                width: 21%;
                
            }
        }

        #preloader {
            display: block;
            position:fixed;
            left:0;
            right:0;
            top:0;
            bottom:0;
           // background-color:#FFF;
           // z-index:9999;
          }
          
          #preloader .preloader {
            position:absolute;
            left:55%;
            top:30%;
            -webkit-transform: translate(-50% , -50%);
            -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
          }
          
          #preloader .preloader:after {
            content:"";
            display:block;
            width:40px;
            height:40px;
            border: 1px solid #EBEBEB;
            border-top: 3px solid #007FFF;
            border-radius: 50%;
            -webkit-animation: 1s preloader linear infinite;
            animation: 1s preloader linear infinite;
          }
          
          @-webkit-keyframes preloader {
            from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
          }
          
          @keyframes preloader {
            from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
          }
    }
}